  <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
<!-- 
  
   <a routerLink="/"></a>Dashboard<br />
-->
<navbar></navbar>
<side-bar></side-bar> 
<ctrl-side-bar></ctrl-side-bar>
   <!-- <a routerLink="/navbar"></a>Navbar<br />  -->
   <!-- <a routerLink=""></a>SideBar<br />  -->
    
    <!-- <content></content> -->


 <router-outlet></router-outlet>
  
<!-- <ctrl-side-bar></ctrl-side-bar>
-->
<app-footer></app-footer> 



<!-- ./wrapper -->


